.leaflet-control-layers-buttons {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    border: 1px solid rgba(50, 50, 50, 0.5);
}
.leaflet-control-layers-buttons div {
    display: inline-block;
    padding: 3px 5px;
    cursor: pointer;
}
.leaflet-control-layers-buttons div.active {
    font-weight: bold;
}
.leaflet-control-layers-buttons div:hover{
    background-color: rgba(245, 245, 245, 0.9);
}
.leaflet-control-layers-buttons div + div {
    border-left: 1px solid rgba(220, 220, 220, 0.9);
}
